[submodule "3rdparty/blobs"]
	path = 3rdparty/blobs
	url = ../../coreboot/blobs.git
	update = none
	ignore = dirty
[submodule "util/nvidia-cbootimage"]
	path = util/nvidia/cbootimage
	url = ../../coreboot/nvidia-cbootimage.git
[submodule "vboot"]
	path = 3rdparty/vboot
	url = ../../coreboot/vboot.git
[submodule "arm-trusted-firmware"]
	path = 3rdparty/arm-trusted-firmware
	url = ../../coreboot/arm-trusted-firmware.git
[submodule "3rdparty/chromeec"]
	path = 3rdparty/chromeec
	url = ../../coreboot/chrome-ec.git
[submodule "libhwbase"]
	path = 3rdparty/libhwbase
	url = ../../coreboot/libhwbase.git
[submodule "libgfxinit"]
	path = 3rdparty/libgfxinit
	url = ../../coreboot/libgfxinit.git
[submodule "3rdparty/fsp"]
	path = 3rdparty/fsp
	url = ../../coreboot/fsp.git
	update = none
	ignore = dirty
[submodule "opensbi"]
	path = 3rdparty/opensbi
	url = ../../coreboot/opensbi.git
[submodule "intel-microcode"]
	path = 3rdparty/intel-microcode
	url = ../../coreboot/intel-microcode.git
	update = none
	ignore = dirty
[submodule "3rdparty/ffs"]
	path = 3rdparty/ffs
	url = ../../coreboot/ffs.git
